body {
    color: #f7f7f7;
  }

.jumbotron {
    background-image: url("../images/group.jpeg");
    background-size: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: xx-large;
    padding-top: 10%;
    outline-style: solid;
    outline-color: black;
  }

.navbar {
  cursor:  auto;
  overflow: hidden;
  float: left;
  text-align: center;
  padding-left: 32%;
  text-decoration: none;
  font-size: 17px;
  background-color: black;
  width: 100%;
  outline: black;
  outline-style: solid;
 }
.navbar li {
  list-style: none;
}

.navbar a {
  padding-left: 2%;
  color: #f7f7f7;
  font-weight: 800;
}

.contentBox {
  margin-top: 10px;
  width: 470px;
  height: auto;
  background-color: #160306;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentBox .innerBox {
  margin-left: 10px;
  position: relative;
  width: 450px;
  height: auto;
  top: 10px;
  background-image: url(contentBack.png);
  background-color: #FFFFFF;
  background-repeat: repeat-x;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentText {
  font-size: 13px;
  line-height: 24px;
  margin-left: 13px;
  margin-right: 13px;
  color:black
}

.btn {
  color: white;
  background-color: rgba(65, 58, 168, 0.374);
  height: 50px;
  width: 190px;
  padding: 2px;
  border: 2px solid black;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  place-items: center;
}

.nav {
  width: 100vw;
  height: 20vh;
  background-color: rgba(176, 117, 191, 0.534);
  font-size: x-large;
  color: white;
  text-align: center;
  margin: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
}

.section {
  width: 100vw;
  height: 130vh;
  background-color: rgba(171, 224, 122, 0.239);
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 10px 5px;
}

